---
# The name of your project
title: Spring Clound GCP

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  # twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-gcp
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-gcp/issues
      icon: tracking

#    - name: CI (Bamboo)
#      url:  https://build.springsource.org/browse/SPRINGDATAJPA
#      icon: ci

#    - name: Forum
#      url:  http://forum.spring.io/forum/spring-projects/data
#      icon: forum

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-cloud-gcp
      icon: stackoverflow

#    - name: Metrics (SonarQube)
#      url:  https://sonar.springsource.org/dashboard/index/org.springframework.data:spring-data-jpa
#      icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Cloud]({{ site.projects_site_url }}/spring-cloud)
{% endcapture %}


{% capture billboard_description %}

The Spring Cloud GCP project brings the familiar Spring programming model to Google Cloud Platform APIs.

{% endcapture %}

{% capture main_content %}

**INTRODUCTORY PARAGRAPHS**
TBD

## Components

* spring-cloud-gcp-core - common utilities

* spring-cloud-gcp-pubsub - core pubsub functionality

* spring-cloud-gcp-starters - boot starters

* spring-cloud-gcp-storage - core storage functionality

* spring-integration-gpc - Spring Integration Extensions for GCP

## Features

* TBD

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

TBD

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* TBD

### Getting Started Guides

* TBD

### Tutorials

* TBD

{% endcapture %}


{% include project_page.html %}
</html>
