---
# The name of your project
title: Spring Cloud GCP

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  # twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-gcp
      icon: github

    - name: Issues (GitHub)
      url:  https://github.com/spring-cloud/spring-cloud-gcp/issues
      icon: tracking

#    - name: CI (Bamboo)
#      url:  https://build.springsource.org/browse/SPRINGDATAJPA
#      icon: ci

#    - name: Forum
#      url:  http://forum.spring.io/forum/spring-projects/data
#      icon: forum

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-cloud-gcp
      icon: stackoverflow

#    - name: Metrics (SonarQube)
#      url:  https://sonar.springsource.org/dashboard/index/org.springframework.data:spring-data-jpa
#      icon: metrics

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Cloud]({{ site.projects_site_url }}/spring-cloud)
{% endcapture %}


{% capture billboard_description %}

The Spring Cloud GCP project brings the familiar Spring programming model to Google Cloud Platform APIs.

{% endcapture %}

{% capture main_content %}

The Spring Cloud GCP project has had several milestone releases and is actively working towards
an official GA release.

Until then, the latest updates to Spring Cloud GCP project are available through
Pivotal's Maven snapshot repository.

## Features

The Spring Cloud GCP project offers the following features:

* Bill of Materials (BOM) for dependency version management
* Spring Cloud GCP Pub/Sub, including `PubSubTemplate`
* Spring Resource Abstraction for Google Cloud Storage
* Spring Integration Channel Adapters for Google Cloud Pub/Sub
* Spring Data Spanner
* Spring Boot starters
 * GCP Support
 * Google Cloud Config
 * Google Cloud Pub/Sub
 * Google Cloud SQL
 * Google Cloud Spanner
 * Google Cloud Storage
 * Stackdriver Trace with Spring Cloud Sleuth

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [spring-cloud-gcp-examples](https://github.com/spring-cloud/spring-cloud-gcp/tree/master/spring-cloud-gcp-examples)

### Getting Started Guides

* [Messaging with Google Cloud Pub/Sub](https://spring.io/guides/gs/messaging-gcp-pubsub/)

<!--### Tutorials

* TBD-->

{% endcapture %}


{% include project_page.html %}
</html>
