<?xml version="1.0" encoding="UTF-8"?>
<configuration >

	<property name="projectId" value="test-project"/>

	<include resource="com/google/cloud/spring/logging/logback-json-appender.xml"/>

	<logger name="StackdriverJsonLayoutLoggerTests" level="WARN">
		<appender-ref ref="CONSOLE_JSON"/>
	</logger>

	<appender name="CONSOLE_JSON_SERVICE_CTX" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
				<projectId>${projectId}</projectId>
				<serviceContext>
					<service>service</service>
					<version>version</version>
				</serviceContext>
				<customJson>
					{
						"custom-key" : "custom-value"
					}
				</customJson>
				<loggingEventEnhancer>
					com.google.cloud.spring.logging.StackdriverJsonLayoutLoggerTests$JsonLayoutTestEnhancer
				</loggingEventEnhancer>
			</layout>
		</encoder>
	</appender>

	<appender name="CONSOLE_JSON_SERVICE_CTX_MISSING" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
			<layout class="com.google.cloud.spring.logging.StackdriverJsonLayout">
				<projectId>${projectId}</projectId>
				<serviceContext>
					<service>service</service>
					<version>version</version>
				</serviceContext>
				<loggingEventEnhancer>
					com.google.cloud.spring.logging.StackdriverJsonLayoutLoggerTests$DoesNotExist
				</loggingEventEnhancer>
			</layout>
		</encoder>
	</appender>

	<logger name="StackdriverJsonLayoutServiceCtxLoggerTests" level="WARN">
		<appender-ref ref="CONSOLE_JSON_SERVICE_CTX"/>
	</logger>

	<logger name="StackdriverJsonLayoutServiceCtxLoggerTestsMissingClass" level="WARN">
		<appender-ref ref="CONSOLE_JSON_SERVICE_CTX_MISSING"/>
	</logger>

	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.google.cloud.spring" level="warn">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>
