<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <!-- If running in GCP, remove the CONSOLE appender otherwise logs will be duplicated. -->
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.apache.tomcat.util.net" level="INFO"/>
<!--
    <logger name="org.spring.web.servlet" level="DEBUG"/>
    <logger name="org.spring.security" level="DEBUG"/>-->

    <logger name="org.apache" level="INFO"/>
</configuration>
